<%- include("partials/singlepostheader"); %>

<center>
<h3><mark><%= postTitle %></mark></h3>
<p style="margin-top: 20px; padding: 20px;"><%= postBody %></p>
<form style="margin-bottom: 30px;" action="/" method="get">
    <button style="margin-top: 30px;" class="btn btn-primary" type="submit">Go Back Home</button>
</form>
</center>
<%- include("partials/singlepostfooter"); %>